@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;800;900&display=swap');

html{
  box-sizing: border-box;                               
}

*,
*::before,
*::after{
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

a{
  color: inherit;
  text-decoration: none;
}

li{
  list-style: none;
}

img{
  max-width: 100%;
}

body {
  height: 100%;
  @apply bg-main-color text-white;
  font-family: 'Montserrat', sans-serif;
}

body::-webkit-scrollbar {  
  display: none;            /* ширина всей полосы прокрутки */
}


.history-scroll::-webkit-scrollbar {
  width: 4px;              /* ширина всей полосы прокрутки */
}

.history-scroll::-webkit-scrollbar-track {
  background: transparent;        /* цвет зоны отслеживания */
}

.history-scroll::-webkit-scrollbar-thumb {
  background-color: #545B66;   /* цвет бегунка */
  border-radius: 20px;       /* округлось бегунка */  /* отступ вокруг бегунка */
}



