.btn-size {
  display: none;
}

@media only screen and (max-width:1500px) {
  .btn-size {
    display: block;
  }
}

.test::-webkit-scrollbar {
  width: 0px;               /* ширина всей полосы прокрутки */
}

.test::-webkit-scrollbar-track {
  background: transparent;        /* цвет зоны отслеживания */
}

.marker {
  cursor: default;
  left: 8.5px;
  opacity: 0;
  position: absolute;
  
}

.marker.active {
  left: 8.5px;
  transition: all 0.4s ease-in-out;
  opacity: 100;
  z-index: 999;
}

