.btn-size {
  display: none;
}

@media only screen and (max-width:1500px) {
  .btn-size {
    display: block;
  }
}

.test::-webkit-scrollbar {
  width: 0px;               /* ширина всей полосы прокрутки */
}

.test::-webkit-scrollbar-track {
  background: transparent;        /* цвет зоны отслеживания */
}

.marker {
  top: -20px;
  left: 9px;
  opacity: 0;
  position: absolute;
  z-index: 99;
}

.marker.active {
  top: 0px;
  left: 9px;
  transition: all 0.5s ease-in-out;
  opacity: 100;
}

